* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;

    &,
    &::before,
    &::after {
        box-sizing: border-box;
    }
}

@-ms-viewport {
    width: auto;
}

html,
body {
    -webkit-overflow-scrolling: touch;
}

html {
    height: 100%;
    font-size: var(--font-size-base);
}

body {
    display: grid;
    min-height: 100%;
    margin: 0;
    font: 400 1rem/1.5 var(--font-family-default);
    font-feature-settings: normal;
    font-variant: normal;
    color: var(--black-color);
    background: var(--white-color);
    opacity: 0;

    &.load {
        opacity: 1;
        transition: opacity 0.6s ease-out 0.3s;
    }
}

a,
button {
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

button {
    -webkit-appearance: none;
    padding: 0;
    border: none;
    background-color: transparent;
    box-shadow: none;
}

img,
embed,
video {
    display: inline-block;
    max-width: 100%;
    height: auto;
    line-height: 1;
    border: none;
}

svg {
    display: inline-block;
    line-height: 1;
    fill: currentColor;
}
