[class^="icon"] {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

@if $generate-sprites {
    [class*="s-icon"] {
        vertical-align: middle;
        display: inline-block;
        line-height: 1;

        &::before {
            content: "";
            display: block;
        }
    }

    @include retina-sprites($retina-groups);
}