{% import "../../components/config.njk" as config %}

{% macro Icon(name, width=undefined, height=width) %}
    <svg class="icon-{{ name }}" width="{{ width }}" height="{{ height }}">
        <use xlink:href="{% if symbolsInject %} #{{ name }} {% else %} {{ prefixPath }}assets/img/svg-symbols.svg#{{ name }} {% endif %}"></use>
    </svg>
{% endmacro %}

<!DOCTYPE html>
<html lang="{{ config.lang }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="MobileOptimized" content="320">
        <meta name="HandheldFriendly" content="True">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title>{{ head.title }}</title>
        <meta name="description" content="{{ head.description }}">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="msapplication-TileImage" content="__static__assets/img/content/favicons/ms-touch-icon-144x144-precomposed.png">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="application-name" content="{{ head.description }}">
        <link rel="icon" sizes="192x192" href="__static__assets/img/content/favicons/chrome-touch-icon-192x192.png">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="{{ head.title }}">
        <link rel="apple-touch-icon" href="__static__assets/img/content/favicons/apple-touch-icon.png">
        {% block styles %}
            {% for item in concat.css %}
                <link href="__static__assets/css/{{ item.name }}" rel="stylesheet">
            {% endfor %}
            <link href="__static__assets/css/vendor.css" rel="stylesheet">
            <link href="__static__assets/css/main.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        %symbols%
        <div class="page-wrapper">
            {% block header %}{% endblock %}
            <main class="page-content">
                {% block content %}{% endblock %}
            </main>
            {% block footer %}{% endblock %}
        </div>
        {% block scripts %}
            {% for item in concat.js %}
                <script src="__static__assets/js/{{ item.name }}" {% for props, val in item.props %} {{ props }}="{{ val }}" {% endfor %}></script>
            {% endfor %}
            <script src="__static__assets/js/vendor.js"></script>
            <script src="__static__assets/js/main.js"></script>
        {% endblock %}
    </body>
</html>