block components
    include ../../components/config
    include ../../components/mixins
    include ../../components/layout/head/head
    include ../../components/layout/footer/footer

doctype html
html.no-js(lang=lang)
    head
        +Head(head.default)
    body()&attributes(page.attrs)
        | %symbols%
        .page-wrapper
            block header
            main.page-content&attributes(page.content)
                block content
            block footer
                +Footer()
        include ../../components/scripts
