extends templates/template
append components
    -
        page = {
            id: 'home',
            title: '',
            attrs: {},
            content: {}
        }

block content
    .container
        h1 page