block scripts
    each item in concat.js
        script(src=`${staticPath.js}/vendor/${item.name}`)&attributes(item.props)
    script(src=`${staticPath.js}/vendor.js`)
    script(src=`${staticPath.js}/main.js`)
