{% macro Head(data) %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{{ data.title }}</title>
    <meta name="description" content="Mitchell Hayes — Portfolio HTML5 Template">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="msapplication-TileImage" content="assets/images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Mitchell Hayes — Portfolio HTML5 Template">
    <link rel="icon" sizes="192x192" href="assets/images/touch/chrome-touch-icon-192x192.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Mitchell Hayes">
    <link rel="apple-touch-icon" href="assets/images/touch/apple-touch-icon.png">
    <link href="__static__assets/css/vendor.css" rel="stylesheet">
    <link href="__static__assets/css/main.css" rel="stylesheet">
</head>
{% endmacro %}

